<?xml version="0.0" ?>
<robot name="block">
    <material name="blue">
        <color rgba="0.078431 0.494117 0.984313 1"/>
    </material>

    <link name="baseLink">
        <!-- from lego/lego.urdf -->
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <!--        radius: 10mm, depth: 14.5mm-->
                <mesh filename="meshes/block.obj" scale="1 1 1"/>
                <!--        <box size="0.002 0.002 0.002"/>-->
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="meshes/block_vhacd.obj" scale="1 1 1"/>
                <!--        <box size="0.002 0.002 0.002"/>-->
            </geometry>
        </collision>
    </link>
    <link name="waypoint_0">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value=".0"/>
            <inertia ixx="0." ixy="0" ixz="0" iyy="0." iyz="0" izz="0."/>
        </inertial>
    </link>

    <joint name="waypoint_joint_0" type="fixed">
        <parent link="baseLink"/>
        <child link="waypoint_0"/>
        <!--    (-R/2, 0, 0)-->
        <origin rpy="0 0 0" xyz="-0.005 0 0"/>
    </joint>

    <link name="waypoint_1">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value=".0"/>
            <inertia ixx="0." ixy="0" ixz="0" iyy="0." iyz="0" izz="0."/>
        </inertial>
    </link>

    <joint name="waypoint_joint_1" type="fixed">
        <parent link="baseLink"/>
        <child link="waypoint_1"/>
        <!--    (R/4, sqrt(3)R/4, 0)-->
        <origin rpy="0 0 -2.094395" xyz="0.0025 0.004330 0"/>
    </joint>

    <link name="waypoint_2">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value=".0"/>
            <inertia ixx="0." ixy="0" ixz="0" iyy="0." iyz="0" izz="0."/>
        </inertial>
    </link>

    <joint name="waypoint_joint_2" type="fixed">
        <parent link="baseLink"/>
        <child link="waypoint_2"/>
        <!--    (R/4, -sqrt(3)R/4, 0)-->
        <origin rpy="0 0 2.094395" xyz="0.0025 -0.004330 0"/>
    </joint>
</robot>
