[submodule "ext/pybullet_rendering"]
	path = ext/pybullet_rendering
	url = https://github.com/ikalevatykh/pybullet_rendering.git
[submodule "ext/bullet3"]
	path = ext/bullet3
	url = https://github.com/bulletphysics/bullet3.git
