[submodule "ext/pybullet_rendering"]
	path = ext/pybullet_rendering
	url = https://github.com/ikalevatykh/pybullet_rendering.git
[submodule "ext/bullet3"]
	path = ext/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "ext/panda3d-kivy"]
	path = ext/panda3d-kivy
	url = https://github.com/yuehaowang/panda3d-kivy.git
