<?xml version="0.0" ?>
<robot name="ring_board">
    <material name="WHITE">
        <color rgba="1 1 1 1"/>
    </material>

    <link name="baseLink">
        <!-- from lego/lego.urdf -->
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="10.0"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="1.57 0 0" xyz="0 0 0"/>
            <geometry>
                <!--        radius: 10mm, depth: 14.5mm-->
                <mesh filename="meshes/ring_board.obj" scale="1 1 1"/>
                <!--        <box size="0.002 0.002 0.002"/>-->
            </geometry>
            <material name="WHITE"/>
        </visual>
        <collision>
            <origin rpy="1.57 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="meshes/ring_board.obj" scale="1 1 1"/>
                       <!-- <box size="2 2 2"/> -->
            </geometry>
        </collision>
    </link>

    <link name="vertical_board">
        <!-- from lego/lego.urdf -->
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="10.0"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <!--        radius: 10mm, depth: 14.5mm-->
                <mesh filename="meshes/ring_board.obj" scale="1 1 1"/>
                <!--        <box size="0.002 0.002 0.002"/>-->
            </geometry>
            <material name="WHITE"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="meshes/ring_board.obj" scale="1 1 1"/>
                       <!-- <box size="2 2 2"/> -->
            </geometry>
        </collision>
    </link>

    <joint name="vertical_board_joint" type="fixed">
        <parent link="baseLink"/>
        <child link="vertical_board"/>
        <origin rpy="1.57 1.57 0" xyz="-2.3 0 2.15"/>
    </joint>

</robot>