<?xml version="0.0" ?>
<robot name="box">
    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <link name="baseLink">
        <!--    <contact>-->
        <!--      <lateral_friction value="1.0"/>-->
        <!--    </contact>-->
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="0." ixy="0" ixz="0" iyy="0." iyz="0" izz="0."/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="meshes/cube.obj"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>
</robot>
