<?xml version="0.0" ?>
<robot name="sphere">
    <material name="red">
        <color rgba="1 0 0 0.5"/>
    </material>

    <link name="baseLink">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.0"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.003"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>
</robot>
